#login-box {
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #000000;
	font: 12px Arial, Helvetica, sans-serif;
    /*background: url(../img/caixalogin.png)*/
	margin-right: 1.5%;

}

#loginbox img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #000000;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 10px 10px 0 0;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	padding: center;
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color: #ffffff;
	font-size: 16px;
	color: #0d2c52;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;

}

.login-box-options a {
	color: #black;
	font-size: 11px;
	margin-right: 10%;
}

.botao{
	position: center;
	margin-right: 8%; 

}