/*STARTANDO*/
* 
{
    margin: 0; 
    padding: 0; 
    font-size:100%; 
    border: none; 
    outline: none; 
    font-weight: 300; 
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {background: url(../img/background.jpg) repeat;}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

/*CABEÇALHO*/
.cabecalho 
{
    width: 100%;
    float: left;
    padding: 3% 4%;
}
.logo
{
    width: 95px; 
    height: 95px;
    float: left;
    background: url(../img/logomobile.png) center center/95px no-repeat; 
    font-size: 0%;
}
.btn-menu 
{
    width: 56px; 
    height: 56px;
    margin-top: 3.5%;
    float: right; 
    text-align: center; 
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
    background:  #000000; 
}
/*MENU*/
.menu 
{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgba(116,174,219, 0.9);
    top:0;
    left:0;
}
.btn-close 
{
    font-size: 1.5em;
    color:black;
    float: right;
    border-radius: 56px;
    cursor: pointer;
    margin-right: 7.5%;
    margin-top: 8.5%;
}
.menu ul 
{
    width: 100%;
    float: left;
    text-align: center;
}
.menu li
{
    padding: 1.5%;
}
.menu li a 
{
    font-size: 2em;
    color: #000000;
    padding: 1.5% 3%;
}
.menu li a:hover 
{
    border:1px solid white;
}
/*Banner*/

.banner1
{
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url(../img/banner1.jpg) no-repeat fixed;
    background-attachment: scroll;
}
.banner2
{
    width: 100%;
    float: left;
    text-align: center;
    padding: 12% 12%;
    background: url(../img/banner2.jpg) no-repeat fixed;
    background-attachment: scroll;
}
.banner2 h2 a
{
    cursor: pointer;
    color: #fff;
    font-weight: 700; 
}
.banner3
{
    width: 100%;
    float: left;
    text-align: center;
    padding: 12% 12%;
    background: url(../img/banner3.jpg) no-repeat fixed;
    background-attachment: scroll;
}
.banner3 h2 a
{
    cursor: pointer;
    color: #fff;
    font-weight: 700; 
}
.banner4
{
    width: 100%;
    float: left;
    text-align: center;
    padding: 12% 12%;
    background: url(../img/banner4.jpg) no-repeat fixed;
    background-attachment: scroll;
}
.banner4 h2 a
{
    cursor: pointer;
    color: #fff;
    font-weight: 700; 
}
.title 
{
    width: 100%;
}
.title h2 
{
    font-size: 2.5em;
    color: #fff;
    font-weight: 700; 
}
.title h3 
{
    font-size: 1.5em;
    color: white;
}
.buttons
{
    width: 100%;
    margin-top: 2%;
}
.buttons i
{
    float: right;
}
.btn-consultar 
{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
    background-color:white;
    color: #000000;
}

/*RODAPÉ*/
.newsletter
{
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-color: black;
}
.newsletter h2
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}
.newsletter h3
{
    color: #fff;
}
.newsletter form input
{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    padding-bottom:10%;
    text-align: left; 
    background-color: black;
    color: #fff;
    border: solid 2px;
    border-color: #fff;
    border-radius: 5px;
}
.newsletter button 
{
    width: 100%;
    color:black;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
}
.rodape 
{
    width: 100%;
    background-color: black;
    float: left;
    padding: 1%;
    text-align: center;
    color: white;
    font-weight: bold;
}
/*PÁGINA MAPA*/
.mapa 
{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
}
.mapa h3 
{
    font-size: 1.5em;
    color: black;
    font-size: 700;
    text-align: center;
    padding: 3% 4%;
    font-weight: 700;
}

/*CELULARES*/
/*PEQUENOS CELULARES*/

@media screen and (min-width:440px)
{
.logo
    {   width: 105px; height: 105px; float: left; background: url(../img/logo.png) center center/105px no-repeat; font-size: 0%;}
.buttons
    {   font-size: 1.5em;   }

}
/*TABLETS MENORES*/
@media screen and (min-width:768px)
{
.logo{width: 115px; height: 115px; float: left; background: url(../img/logo.png) center center/115px no-repeat; font-size: 0%;}
.buttons {width: 50%; margin-left: 25%; padding: 1% 1%; }
.banner2 {width: 50%; padding-bottom: 15.5%; float: left;}
.banner3 {width: 50%; padding-bottom: 15.5%; float: right;}
.buttons {width: 40;}
.btn-close { margin-right: 6.79%; margin-top: 7.95%;}
.newsletter input {width: 50%; padding: 2%;}
.newsletter button {width: 50%;}
}
/*MEDIOS TABLETS E DESKTOPS*/
@media screen and (min-width:960px)
{
.logo{margin-top:0; width: 115px; height: 115px; float: left; background: url(../img/logo.png) center center/115px no-repeat; font-size: 0%;}
.title {width: 70%; float: left; text-align: left;}
.buttons{width: 30%; float: right;margin-top: 0;}
.title h2{font-size: 3em;}
.title h3{font-size: 2em;}
.banner1 {padding-bottom: 10%;}
.newsletter form input{float: left; padding: 2% 2%; width: 60%;}
.newsletter button {float: right; padding: 2% 2%; width: 35%; margin-top: 3%; font-size: 1em;}
.banneresquerda1 {width: 100%; margin-top: 10%; margin-bottom: 10%;}
.banneresquerda1 img {border-radius:10px; border-style: solid; width: 35%; float: left;}
.banneresquerda1 p {padding: 10% 0; width: 65%; font-weight: 700; float: right;}

.bannerdireita1 {width: 100%; margin-top: 10%; margin-bottom: 10%;}
.bannerdireita1 p {width: 65%; font-weight: 700; padding: 10% 0; float: right;}
.bannerdireita1 img {border-radius: 10px; width: 35%; float: right; border-style: solid;}


}
/*GRANDES TELAS - WIDE SCREEN*/
@media screen and (min-width:1280px)
{
.btn-menu{display: none;}
.btn-close{display: none;}
.banner1
{
    width: 100%;
    float: left;
    text-align: center;
    padding: 7% 7%;
    background: url(../img/banner1.jpg) no-repeat fixed;
    background-attachment: scroll;
}
.banner2
{
    width: 100%;
    float: left;
    text-align: center;
    padding: 7% 7%;
    margin-inline-end: 0%;
    background: url(../img/banner2.jpg) no-repeat fixed;
    background-attachment: scroll;
}
.banner3
{
    width: 100%;
    float: left;
    text-align: center;
    padding: 7% 7%;
    margin-inline-end: 0%;

    background: url(../img/banner3.jpg) no-repeat fixed;
    background-attachment: scroll;
}

.banner4
{
    width: 100%;
    float: left;
    text-align: center;
    padding: 7% 7%;
    background: url(../img/banner4.jpg) no-repeat fixed;
    background-attachment: scroll;
}
.bannerdireita1 p {font-size: 1.5em;}
.banneresquerda1 p {font-size: 1.5em;}
.btn-consultar 
{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    margin-inline-end: 0%;
    border-radius: 10px;
    background-color:white;
    color: #000000;
}

.menu {width: auto; height: 56px; line-height: 56px; margin-top:2%; float:right; background: url(../img/background.jpg); display: block!important; position: static; }
.menu li {padding: 0; float: left;}
.menu li a {color: black; font-size: 1.5em; padding: 15px; font-weight: 700;}
.menu li a:hover {border: none; color: rgba(116,174,219, 0.9); }
.mapa iframe{align-self: center;}


}
