<body>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="col-lg-8">
                    <div class="row">
                        <h1 class="page-header">
                            Recuperar Senha
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php">Home</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Recuperar Senha
                            </li>
                        </ol>
                    <form action="./src/email.php" method="post" id="sendMail">
                                    <label>Digite seu email</label>
                                    <input class= "form-control"name="email"id= "email" placeholder="Informe seu email", type = "text"><br>
                                    <input type="submit" form="sendMail" type="submit" name="Enviar" value="Enviar" />
                                </div>
                            </div>
                        </form>


    </body>
</html>

